body {
  background-color: #273746;
  color: #aaa;
  font-weight: bolder;
  text-align: center;
}
input {
  border-radius: 10px;
  font-size: 20px;
  height: 30px;
  max-width: 800px;
}
input:focus {
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  max-width: 800px;
  outline: none;
}
a {
  color: #aaa;
  flex: 1;
  text-decoration: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
p{
  text-align: justify;
}
.container div{
  background-color: transparent;
  border: 1px #666 solid;
  border-radius: 5px;
  flex:1;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.container:hover .box{
  opacity: 0.45;
  transition: opacity .5s ease-in-out;
  zoom: 1;
}
.container .box:hover{
  border-color:#273746;
  box-shadow: 3px 3px 15px #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  zoom: 1.02;
}
.h {
  box-shadow: 5px 5px 15px #fff;
}
